<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All food items</title>
    <link rel="stylesheet" href="./allfooditems.css">
</head>
<body>
    <div class="nav">
        <div class="nav1">
          <img src="./img/C.png" alt="img" />
        </div>
        <div class="nav2">
          <input type="text" placeholder="Search for products" />
        </div>
        <div class="nav3">
          <a href="./HomePage.html">Home Page</a>
          <a style="color: black;" href="./allfooditems.html">All food items</a>
          <a href="./login.html">Login</a>
          <a href="./signup.html">Sign up</a>
        </div>
      </div>
      <div class="Home2">
        <div class="Menubar">
          <div class="class1">
            <div class="image">
              <img src="./img/samosa.jpg" />
              <div class="heading">
                <h1>Samosa</h1>
                <p>Rs 20</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/momo.jpg" />
              <div class="heading">
                <h1>Momo</h1>
                <p>Rs 120</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/paratha.jpg" />
              <div class="heading">
                <h1>Parautha</h1>
                <p>Rs 50</p>
              </div>
  
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/Chowmine.jpg" />
              <div class="heading">
                <h1>Chowmine</h1>
                <p>Rs 50</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
          </div>
          <div class="class1">
            <div class="image">
              <img src="./img/samosa.jpg" />
              <div class="heading">
                <h1>Samosa</h1>
                <p>Rs 20</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/momo.jpg" />
              <div class="heading">
                <h1>Momo</h1>
                <p>Rs 120</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/paratha.jpg" />
              <div class="heading">
                <h1>Parautha</h1>
                <p>Rs 50</p>
              </div>
  
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/Chowmine.jpg" />
              <div class="heading">
                <h1>Chowmine</h1>
                <p>Rs 50</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
          </div>
          <div class="class1">
            <div class="image">
              <img src="./img/samosa.jpg" />
              <div class="heading">
                <h1>Samosa</h1>
                <p>Rs 20</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/momo.jpg" />
              <div class="heading">
                <h1>Momo</h1>
                <p>Rs 120</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/paratha.jpg" />
              <div class="heading">
                <h1>Parautha</h1>
                <p>Rs 50</p>
              </div>
  
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/Chowmine.jpg" />
              <div class="heading">
                <h1>Chowmine</h1>
                <p>Rs 50</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
          </div>
          <div class="class1">
            <div class="image">
              <img src="./img/samosa.jpg" />
              <div class="heading">
                <h1>Samosa</h1>
                <p>Rs 20</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/momo.jpg" />
              <div class="heading">
                <h1>Momo</h1>
                <p>Rs 120</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/paratha.jpg" />
              <div class="heading">
                <h1>Parautha</h1>
                <p>Rs 50</p>
              </div>
  
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/Chowmine.jpg" />
              <div class="heading">
                <h1>Chowmine</h1>
                <p>Rs 50</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
          </div>
          <div class="class1">
            <div class="image">
              <img src="./img/samosa.jpg" />
              <div class="heading">
                <h1>Samosa</h1>
                <p>Rs 20</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/momo.jpg" />
              <div class="heading">
                <h1>Momo</h1>
                <p>Rs 120</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/paratha.jpg" />
              <div class="heading">
                <h1>Parautha</h1>
                <p>Rs 50</p>
              </div>
  
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/Chowmine.jpg" />
              <div class="heading">
                <h1>Chowmine</h1>
                <p>Rs 50</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
          </div>
          <div class="class1">
            <div class="image">
              <img src="./img/samosa.jpg" />
              <div class="heading">
                <h1>Samosa</h1>
                <p>Rs 20</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/momo.jpg" />
              <div class="heading">
                <h1>Momo</h1>
                <p>Rs 120</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/paratha.jpg" />
              <div class="heading">
                <h1>Parautha</h1>
                <p>Rs 50</p>
              </div>
  
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
            <div class="image">
              <img src="./img/Chowmine.jpg" />
              <div class="heading">
                <h1>Chowmine</h1>
                <p>Rs 50</p>
              </div>
              <div class="box">
                <button id="but1" type="button">Buy now</button>
                <button id="but2" type="button">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>