<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="Home">
      <div class="nav">
        <div class="nav1">
          <img th:src="@{/img/logo.jpg}" alt="img" />
        </div>
        <div class="nav2">
          <input type="text" placeholder="Search for products" />
        </div>
        <div class="nav3">
          <a th:href="@{/home}">Home Page</a>
<!--          <a th:href="@{/allfooditems}">All food items</a>   -->
          <a th:href="@{/login}">Login</a>
          <a th:href="@{/signup}">Sign up</a>
        </div>
      </div>
      <div class="container">
        <h1>Canteen Management System</h1>
        <p th:if="${loginStatus != null}">[[${loginStatus}]]</p>
      </div>
    </div>
    <div class="Home2">
      <div class="Menu">
        <h1>All food items</h1>
      </div>
      <div class="Menubar">
        <div class="class1">
          <div class="image">
            <img th:src="@{/img/samosa.jpg}" />
            <div class="heading">
              <h1>Samosa</h1>
              <p>Rs 20</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/momo.jpg}" />
            <div class="heading">
              <h1>Momo</h1>
              <p>Rs 120</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/paratha.jpg}" />
            <div class="heading">
              <h1>Parautha</h1>
              <p>Rs 50</p>
            </div>

            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/Chowmine.jpg}" />
            <div class="heading">
              <h1>Chowmine</h1>
              <p>Rs 50</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
        </div>
        <div class="class1">
          <div class="image">
            <img th:src="@{/img/samosa.jpg}" />
            <div class="heading">
              <h1>Samosa</h1>
              <p>Rs 20</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/momo.jpg}" />
            <div class="heading">
              <h1>Momo</h1>
              <p>Rs 120</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/paratha.jpg}" />
            <div class="heading">
              <h1>Parautha</h1>
              <p>Rs 50</p>
            </div>

            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/Chowmine.jpg}" />
            <div class="heading">
              <h1>Chowmine</h1>
              <p>Rs 50</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
        </div>
        <div class="class1">
          <div class="image">
            <img th:src="@{/img/samosa.jpg}" />
            <div class="heading">
              <h1>Samosa</h1>
              <p>Rs 20</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/momo.jpg}" />
            <div class="heading">
              <h1>Momo</h1>
              <p>Rs 120</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/paratha.jpg}" />
            <div class="heading">
              <h1>Parautha</h1>
              <p>Rs 50</p>
            </div>

            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/Chowmine.jpg}" />
            <div class="heading">
              <h1>Chowmine</h1>
              <p>Rs 50</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
        </div>
        <div class="class1">
          <div class="image">
            <img th:src="@{/img/samosa.jpg}" />
            <div class="heading">
              <h1>Samosa</h1>
              <p>Rs 20</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/momo.jpg}" />
            <div class="heading">
              <h1>Momo</h1>
              <p>Rs 120</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/paratha.jpg}" />
            <div class="heading">
              <h1>Parautha</h1>
              <p>Rs 50</p>
            </div>

            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img th:src="@{/img/Chowmine.jpg}" />
            <div class="heading">
              <h1>Chowmine</h1>
              <p>Rs 50</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
        </div>
        <div class="class1">
          <div class="image">
            <img src="./img/samosa.jpg" />
            <div class="heading">
              <h1>Samosa</h1>
              <p>Rs 20</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img src="./img/momo.jpg" />
            <div class="heading">
              <h1>Momo</h1>
              <p>Rs 120</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img src="./img/paratha.jpg" />
            <div class="heading">
              <h1>Parautha</h1>
              <p>Rs 50</p>
            </div>

            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
          <div class="image">
            <img src="./img/Chowmine.jpg" />
            <div class="heading">
              <h1>Chowmine</h1>
              <p>Rs 50</p>
            </div>
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
        </div>
      
            <div class="box">
              <button id="but1" type="button">Buy now</button>
              <button id="but2" type="button">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
