<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/admin/adminlogin.css}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css}">
    <title>Customer Login</title>
</head>
<body>
<div class="Home">
    <div class="nav">
        <div class="nav1">
            <img th:src="@{/img/logo.jpg}" alt="img" />
        </div>
        <div class="nav2">
            <input type="text" placeholder="Search for products" />
        </div>
        <div class="nav3">
            <a th:href="@{/customer/home}">Home Page</a>
            <a th:href="@{/customer/viewFood}">All Food Items</a>
            <a th:href="@{/customer/cart}">Cart</a>
            <a  th:href="@{/customer/foodorder}">My Orders</a>
            <a th:href="@{/customer/profile}">My Profile</a>
        </div>
    </div>
    <div class="container">
        <h1>Instant Dine</h1>
    </div>
</div>
<div class="Home2">
    <div class="Menu">
        <h1>All food items</h1>
    </div>
    <div class="Menubar">
        <div class="class1" th:if="${foodList != null}">
            <div class="image" th:each="food : ${foodList}">
                <img th:src="@{'/food/'+ ${food.imageId}}" />
                <div class="heading">
                    <h1 th:text="${food.name}"></h1>
                    <p th:text="${food.price}"></p>
                </div>
                <div class="box">
                    <button id="but1" type="button" th:onclick="'location.href=\'' + @{/customer/purchase/{id}(id=${food.id})} + '\''">Buy Now</button>
                    <button id="but2" type="button" th:onclick="'location.href=\'' + @{/customer/cart/add/{id}(id=${food.id})} + '\''">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
